.section-links{
    @apply py-2 px-4 text-sm inline-block font-bold rounded-full text-primary-600 hover:bg-primary-200
}

.section-links.active{
    @apply bg-primary-600 hover:bg-primary-800 text-primary-200
}

.navbar {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.38);
}

.hero-pattern{
    background-color: #27b6a1;
    opacity: 1;
    background-image:  linear-gradient(30deg, #105a58 12%, transparent 12.5%, transparent 87%, #105a58 87.5%, #105a58), linear-gradient(150deg, #105a58 12%, transparent 12.5%, transparent 87%, #105a58 87.5%, #105a58), linear-gradient(30deg, #105a58 12%, transparent 12.5%, transparent 87%, #105a58 87.5%, #105a58), linear-gradient(150deg, #105a58 12%, transparent 12.5%, transparent 87%, #105a58 87.5%, #105a58), linear-gradient(60deg, #105a5877 25%, transparent 25.5%, transparent 75%, #105a5877 75%, #105a5877), linear-gradient(60deg, #105a5877 25%, transparent 25.5%, transparent 75%, #105a5877 75%, #105a5877);
    background-size: 46px 81px;
    background-position: 0 0, 0 0, 23px 40px, 23px 40px, 0 0, 23px 40px;
}